body {
    max-width: 100%;
    overflow-x: hidden;
}

.header{
    height:90px;
    margin: -8px;
    background-color:rgb(230, 226, 220);
}


.header__navbar{
    display:flex;
    justify-content: space-between;
    margin-right: 20px;
}

.header__navbar-logo-ing{
    width:110px;
    margin: -700px 0px 0 -45px;
}
.link{
    text-decoration: none;
    color: #333;
    list-style: none;
    font-weight: bold;
    text-decoration: none;
}

.header__navbar-item,
.header__navbar-item-link{
    display:inline-block;
    color: #333;
    list-style: none;
    font-weight: bold;
    text-decoration: none;
    padding-top: 10px;
    font-size: 20px;
    margin-left: 60px;
    justify-content: space-between;
}


.icon-menu{
    color: #333;
}

.header__navbar__search:hover,
.header__navbar-item:hover,
.icon-menu:hover{
    color: rgba(201, 46, 46, 0.945);
    cursor:pointer;
    text-decoration: underline;
}

.link:hover{
    color: rgba(201, 46, 46, 0.945);
    cursor:pointer;
}
.container{
    height: 645px;
    margin: -12px;
    background-image: url(/image/br1.png);
    background-size: 100%;
}

.header__navbar__search{
    margin:-100px 0 0 512px;
    border-radius: 15px;
    padding: 10px 15px 0 0;
}
input{
    border-radius: 5px;
    height: 25px;
    width: 400px;
    padding-left: 15px;
    padding-top: -20px;
}
.header__navbar__text{
    font-size: 15px;
    display:flex;
    display: inline-block;
    justify-content: space-between;
    padding-bottom: 50px;
}
/* bảng */

.content{
    padding-top: 40px;
}

table{
    border-collapse: collapse;
    text-align: center;
    width: 75%;
    height: 600px;
    float: left;
}
.icon{
    text-decoration: none;
}

.icon:hover{
    cursor: pointer;
}

.bill{
    padding-left: 2%;
    padding-bottom: 30px;
    float: left;
    width: 23%;
    height: 600px;
}


.text1{
    width: 280px;
}
.chon{
    padding-top: 20px;
    height: 50px;
    width: 300px;
    background-color: #000;
    border-radius: 10px;
    border: 1px solid #000;
    border-color: black;
    color: #fff
}
.chon:hover{
    color:#000;
    border: 1px solid #000;
    background-color: #fff;
    cursor: pointer;
}
h2{
    text-align: center;
    font-weight: 700;
}
.image{
    width: 230px;
}
a{
    text-decoration: none;
    color: black;
}
/* footer */

footer{
    background-color: rgb(230, 226, 220);
    height: 320px;
    margin: -8px;
    padding-top: 5px;
    clear: both;
}
.column{
    float:left;
    width:100%;

}
.card-news-ft{
    width:200px;
    padding-top:20px;
    padding-left: 160px;
    float: left;
}
.footer-sp{
    margin-left: 50px;
}
.copyright{
    font-size: 10px;
    float: left;
    padding-left: 65px;
}


